<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
    h1{
        text-align:center;
        font-family: 'Catamaran', sans-serif;


    }
    body{
        font-family: 'Catamaran', sans-serif;   
        background-color:azure 
    }
</style>
<div class="container text-center">
    <body>
        
        <h1>Password Generator</h1>
        <form action="password">
            length 
                <select name="length">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12" selected="selected">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
            </select>
            <div class="a">
            <br>
            <input type="checkbox" name="uppercase" class="cb">uppercase
            <br>
            <input type="checkbox" name="numbers" class="cb">Numbers
            <br>
            <input type="checkbox" name="special" class="cb">Special Characters
            <br>
            <input type="submit" value="Generate Password" class="btn btn-primary">
            </div>
        </form>
        <a href="{% url 'about' %}" class="btn btn-info">About us</a>
    </body>
</div>
